doctype html
html
head
title=title
body
    h1 Search result

    each item, index in searchResultList
        a(href='/details?'+index, target="_blank")
          h1= item._source.key
        p= item._source.desc
